.footerClass{
  position:fixed;
  bottom:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  color: var(--white);
  background-color: var(--bgcolor);
}

.footerRow{
  flex-direction: row;
}

.small-img{
    width: 40px;
    height: 40px;
    border: 8px;
    padding: 9px;
    transition: transform 0.3s ease;
  }
  
  .small-img:hover{
    transition: transform 0.3s ease;
    transform: scale(1.3);
  }